# Nestjs specific
/dist
/node_modules
/build
/tmp
# compiled output
/dist
/node_modules
/build
# dotenv environment variable files
.env
.env.development
.env.test
.env.production
/generated/prisma

# CI/CD workflows
.github/workflows/ci.yaml

# Coverage reports
**/coverage/
**/.nyc_output/
*.lcov
coverage/
.coverage
htmlcov/
.github/workflows/ci.yaml
config/
coverage/